{% extends 'main.html'%} {% block content%}
<div class="container my-4 fs-6">
  <a href=" " class="badge text-dark bg-warning">Edit me</a>
  <h1>{{recipe.name}} <span class="badge bg-info">{{recipe.price}}</span></h1>
  <p>
    author: <span class="badge bg-success">{{post.user.username}}</span>
    <br />
    {{post.title}}
  </p>
  <h2></h2>
  <div class="ts7">{{post.content}}</div> 

  <h3 class="badge bg-info text-dark"><span>{{comments | length }} <span>Comment(s): </h3>
  <div class="ts7">
    {% include 'base/comment_form.html' %}

    {% for comment in comments%}
    <p class="text-info text-break ">
    {{comment.content}}  </p>by <span class="text-secondary">
        {% if request.user.username == comment.author.user.username%}
        you 
        {% else %}
        {{comment.author.user.username}}
    {% endif%}
    </span>
    
    <hr>
    {% endfor %}

  </div> 
</div>

{% endblock content %}
