{% extends 'main.html'%}
 {% block content%} 
 <!-- Page Header Start -->
 <div class="container-fluid page-header py-6 wow fadeIn" data-wow-delay="0.1s">
  <div class="container text-center pt-5 pb-3">
      <h1 class="display-4 text-white animated slideInDown mb-3">Recipes</h1>
      <nav aria-label="breadcrumb animated slideInDown">
          <ol class="breadcrumb justify-content-center mb-0">
              <li class="breadcrumb-item"><a class="text-white" href="{% url 'home' %}">Home</a></li> 
              <li class="breadcrumb-item " ><a class="text-white" href="{% url 'recipes' %}">Recipes</a></li>
              <li class="breadcrumb-item text-primary active" aria-current="page">{{recipe.name}}</li>
          </ol>
          <ul>
            {% if from == 'create '%}
            <ol class="breadcrumb justify-content-center mb-0"><li class="breadcrumb-item"><a class="text-white" href="{% url 'create-recipe' %}">Create New Recipe</a></li> 
            {% endif %}
            </ol> 
          {% comment %} <a href="{% url 'create-recipe' %}" class="btn btn-primary rounded-pill py-3 px-5 col-4">Create New Recipe</a> {% endcomment %}
      </nav>
  </div>
</div>
<!-- Page Header End -->
<div class="registration-form ">
  <form method="POST" class="border border-primary">

  {% csrf_token %}   
  <h1 class=" text-dark animated slideInDown mb-3">Create Your Recipe Here</h1>
  {% for field in form  %}
  <div class="form-floating">
    {{field}}
    {% comment %} <input type="text" class="form-control" id="name" placeholder="Your Name"> {% endcomment %}
    <label  >{{field.label}}</label>
</div>
       
  {% endfor %}
      <div class="form-group">
        {% if from == 'create' %}
          <button type="submit" class="btn btn-block bg-primary">Create Recipe</button>
          {% else %}
          <button type="submit" class="btn btn-block bg-primary">Update Recipe</button>

        {% endif %}
      </div>
  </form> 
</div>
 
</div> 

{% endblock content %}
