{% extends 'main.html'%} {% block content%}
<div class="container list-group row my-4 mx-4  ">
  <span class="badge text-dark bg-info w-25 my-2 p-2"> <a href="{% url 'create-recipe' %}">Create New Recipe</a> </span>

<div class="d-flex gap-4">
<div>
  <h1>Browse Topics</h1>

  <a href="{% url 'recipes' %}"> All {{ recipes|length }}</a>
  {% for recipe in recipes %}
  <a href="{% url 'recipes'%}?q={{recipe.name}}" class="list-group-item list-group-item-action">  {{recipe.name}}</a>
  <br />
  {% endfor %}

</div>

 
  <div>
    {% if recipe %}
    <a href="{% url 'recipe' recipe.id %}" class="list-group-item list-group-item-action">  {{recipe.name}}</a>
    {% comment %} <br /> {% endcomment %}
    {% endif %}
  </div>


</div>
</div>

  {% endblock content %}
</div>
