{% extends 'main.html'%} {% block content%}
<div class="container row  my-4 mx-4 gap-2">
  
 {% for recipe in recipes %}
{{recipe.id}}. {{recipe.name}} <br>
 {% comment %} <div class="card border-success mb-3 col-12 md:col-6 " style="max-width: 18rem">
  <div class="card-header fs-7 lead bg-transparent border-success">{{recipe.name}}</div>
  <div class="card-body text-success">
  

    <div class="fs-6">It takes {{recipe.prepTime}} min to prepare and {{recipe.cookTime}} minutes to cook. </div>
  </div>
  <div class="card-footer   border-success"> <span class="badge bg-success">Ksh. {{recipe.price}}</span></div>
</div> {% endcomment %}
 {% endfor %}

</div>

{% endblock content %}
